@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Time scheduling n shit">
    <meta name="keywords" content="Time scheduling">
    <title>CentiSoft | Home Page</title>
    <link rel="stylesheet" type="text/css" href="~/css/custom.css">
</head>
<body>
  

    <section id="showcase">
        <div class="container">
            <h1>Software for time registration.</h1>
            <p>The company develops and markets the software for small companies and startups that need simple software in which it is possible to manage projects, developers, tasks and time used on a task.</p><br />
        </div>
    </section>
    <br />
    <section class="ml-5 mr-5" id="boxes">
        <p id="centeric">Completly not a fake and original description of what the company does, because i was not too lazy to think what to write here and my mind is full of nonsense and this is needed so the page looks better or atleaast i think they could write something proper here if it was an actual company who cared not some random young adults  <br /> doing a product frontend about which they dont care too much so they dont have to actually write any information here and can just sput loads of bullcrap since this text is like a sample text but I'm actually too damn lazy to search for a random sample text on the web, but you would think writting this is harder, well that's where you are wrong buddy my brain is a cluster of chaos and creativity, my biggest talent in life is spouting  continues nonsense which can go on and on until it bores even me.</p><br />
       
        <p id="centeric">Hi it's me again I just realised that it would look a lot better if there was another paragraph there so I decided to write another for the sake of this thing looking as crisp af, gonna be honest here its starting to be hard to write this shit for so long and continuesly, I never expected that my brain would run out of what to write, but that might be just because I didn't sleep normally today</p>

    </section>
</body>
</html>
